
:root[data-theme="light"] {
  --text: #333333;
  --background: #f9f5e6;
  --primary: #ab5959;
  --secondary: #d5a5a5;
  --accent: #c57d7d;
  --box-shadow: #825353;
}
:root[data-theme="dark"] {
  --text: #cccccc;
  --background: #191506;
  --primary: #a65454;
  --secondary: #5a2a2a;
  --accent: #823a3a;
  --box-shadow: #381a1a;
}
  
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: var(--background);
    font-family: Arial, sans-serif;
    color: var(--text);
  }
  
  .auth-container h1 {
    color: var(--primary);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    background-color: var(--secondary);
    border: 1px solid var(--accent);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .auth-container input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--text);
  }
  
  .auth-container input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 3px var(--accent);
  }
  
  .auth-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--background);
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-container button:hover {
    background-color: var(--primary);
  }
  
  .auth-container p {
    margin: 0 0 10px;
    font-size: 14px;
    color: var(--primary);
  }
  
  .auth-container .logged-in {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--accent);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text);
  }
  
  .auth-container .logged-in h1 {
    margin-bottom: 20px;
    color: var(--text);
  }
  
  .auth-container .logged-in button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--background);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-container .logged-in button:hover {
    background-color: var(--accent);
  }
  