header {
    color: var(--text);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: var(--background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 15px;
}

/* .nav-center {
    flex-grow: 1;
    text-align: center;
    display: flex;  
    justify-content: flex-end;  
} */

.search-input {
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.theme-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

header a {
    text-decoration: none;
    color: var(--text);
}

header a:hover {
    color: var(--primary);
}

.nav-right a {
    margin-left: 15px;
}

.theme-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.footer {
    width: 100%;
    text-align: left;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: var(--background);
}